$color-blue: #1976d2;
$color-white: #fff;
$color-black: #000;
$color-grey: #ccc;
$color-grey-light: #f0f0f0;
$color-mine: #92AD94;
$color-underline: #503D42;
$color-header: #00B2CA;
$color-hover: #550527;



$header-height: 60px;
